Makefile.in
Makefile
config.guess
config.sub
config.log
config.status
configure
compile
depcomp
install-sh
missing
autom4te.cache
aclocal.m4

debugLog
simIn
simOut

ltmain.sh
libtool

src/m4/*
src/FlexInterfaceC/.deps/*
src/FlexInterfaceC/.libs/*
src/ControlSystem/.deps/*
src/ControlSystem/.libs/*

*.o
*.a
*.so
*.la
*.so.0
*.so.0.0.0
*.lo
*.dylib
*.class

.DS_Store
._.DS_Store
*~